{% extends 'layout.html' %}

{% block content %}
<form action="/verify" method="POST" autocomplete="off" class="form login">
  <div class="form__field">
    <label for="otp_code"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock"></use></svg><span class="hidden">OTP-Code</span></label>
    <input id="otp_code" type="text" name="otp" class="form__input" placeholder="000 000" required autocomplete="off" maxlength="6" style="height: 60px; font-size: 4em;">
  </div>

  <div class="form__field">
    <input type="submit" value="Authenticate">
  </div>
</form>
{% endblock %}
